.login_div{
    width: 10%;
    margin: auto;
}

.login_btn{
    width: 170px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 20px;
    border: 0.5px solid black;
    background-color: rgb(255,153,0);
    color: whitesmoke;
}

.first_inp_box , .sec_inp_box{
   margin-bottom: 20px;
   height: 30px;
   border-radius: 20px;
   text-align: center;

}