.flex_bottom{
    display: flex;
    margin-left: 150px;
}

.bottom_img{
    width: 158px;
    height: 158px;
}

.every_bottom_div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 20px;
    text-align: center;
    border-radius: 20px
}